
.map {
    background-color: rgba(137, 126, 116, 0.364);
    border: medium solid rgb(249, 96, 7);
    margin: 10px 0 0 20px;
    box-shadow: 2px 2px 4px #999
}

/*.countries {
    fill: rgb(43, 42, 42);
    stroke: #CCC;
    stroke-width: 1px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}*/

/*states design*/
.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.chart {
    background-color: rgba(137, 126, 116, 0.364);
    border: medium solid rgb(249, 96, 7);
    float: right;
    margin: 10px 20px 10px 0;
    box-shadow: 2px 2px 4px #999
}

.chartTitle {
    font-family: Helvetica;
    font-size: 1.3em;
    font-weight: bold;
    fill: #333232
}
.chartBackground {
    fill: none; 
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333333;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: rgb(62, 53, 53);
}

/*.numbers {
    fill: white;
    font-family: sans-serif;
    writing-mode: vertical-rl;
}*/


.dropdown {
    background-color: rgba(255, 128, 0, 0.523);
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: 10;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    font-family: Helvetica;
    position: absolute;
    height: 100px;
    min-width: 100px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 158, 54, 0.968);
    border: solid thin rgb(160, 72, 0);
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.legendBox {
    position: absolute;
    right: 75px;
    top: 25px;
    
    font-size: 0.9em;
}

.legendTitle {
    font-family: Helvetica;
    font-weight: bold;
}
#title{
    font-family: Helvetica;
    color:#000;
    padding: 20px 25px 15px 45px;
}
#supplemental{
    font-family: Helvetica;
    color: #000;
    padding: 15px 20px 10px 30px;
}

.container-fluid{
    background-color: rgb(252, 159, 83);
    box-shadow: 2px 2px 4px #999
}
.col-md-6{
    font-family: Helvetica;
    /*background-color:rgba(255, 128, 0, 0.364);*/
}